:root {
  --secondary-light: #fce0ef;
  --primary-light: #a4ddf8;
  --primary-extra-dark: #0a0a23;
  --neutral-extra-dark: black;
  --neutral-extra-light: white;
}

h1 {
  font-family: "Bakbak One";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-extra-dark);
  font-family: "Inter", sans-serif;
}

.header {
}

.content {
  display: flex;
  flex-wrap: wrap;
  color: var(--neutral-extra-light);
}

.footer {
  display: flex;
  height: 80px;
  font-size: 10pt;
  align-items: center;
  justify-content: center;
  color: var(--neutral-extra-light);
  margin-top: auto;
}

.content .item-full {
  flex: 100%;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .item {
  flex: 50%;
  height: 50vw;
  color: var(--primary-extra-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
  object-fit: cover;
  overflow: hidden;
}

.content .item span {
  padding: 4vw;
  font-size: 2vw;
}

@media (max-width: 600px) {
  .content .item {
    flex: 100vw;
    height: 80vw;
  }

  .content .item span {
    font-size: 4vw;
  }
}

.content .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .item .statement {
  font-size: 4vw;
  text-align: center;
  margin: 20px;
}

/* .content .item .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.content .item-full .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .content .item {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* #bgVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.bg-secondary-light {
  background-color: var(--secondary-light);
}

.bg-primary-light {
  background-color: var(--primary-light);
}

#Version {
  padding: 5px;
}

#Copyright {
  padding: 5px;
}
